.content-topbar {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-topbar .left-top-bar,
.content-topbar .right-top-bar {
  color: #fff;
  font-size: 16px;
}

.content-topbar .right-top-bar a {
  transition: linear 0.3s;
  font-size: 15px;
}

.content-topbar .right-top-bar a:first-child {
  border-left: none;
}

.content-topbar .right-top-bar a:hover {
  color: #ff6666;
}

.content-topbar .right-top-bar span {
  margin-left: 10px;
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
}

.prof {
  min-width: 200px;
  margin-bottom: 20px;
}

